*{
    margin:0;
    padding:0;
}

body{
    background-color:#A7E8BD;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vmin;
}

.container{
    background-color: #C7EAE4;
    padding: 2rem;
    border-radius: 2rem;
    min-height: 25rem;
}

form{
    margin: 2rem 0 1rem 0;
}

form button,select,input{
    width:100%;
}

form input{
    border: 1px solid gray;
    height:1rem;
    padding:0.5rem;
    border-radius: 1rem;
}

form select{
    padding:0.5rem;
    border-radius: 1rem;
}

.dropdown{
    display:flex;
    gap:5rem;
    margin-top: 2rem;
}

#msg{
    margin: 1rem 0 1rem 0;
}

button{
    height: 2.5rem;
    border-radius: 1rem;
    background-color: #E26161;
    font-size: 1.10rem;
    color: white;
    cursor: pointer;
}